{% extends 'base.html' %}
{% block title %}
{{block.super}} {{var2}} :: 
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="col-md-10">
    <div class="card mb-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="font-weight: bolder; background-color: aquamarine;">
                {{news.title}}</li>
            <li class="list-group-item"> Категорія: <a href={{news.category.get_absolute_url}}>{{news.category}}</a></li>
            <li class="list-group-item">{{news.content|linebreaks}}</li>
            <li>
                <a href="" class="btn btn-primary">Більше...</a>
            </li>
        </ul>
        <div class="card-footer p-5">
            {% if news.photo %}
            <img src="{{news.photo.url}}" alt="">
            {%else%}
            <img src="https://picsum.photos/id/870/200/300?grayscale&blur=2" alt="">
            {% endif %}
            {{news.created_at|date:"Y-N-d H:i"}}
        </div>
    </div>
</div>
{% endblock %}


